.dateInputContainer {
    position: relative;
}

.calendarContainer {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    margin-top: 5px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}

.calendarContainerEnter {
    opacity: 1;
    transform: scaleY(1);
}
