.page {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    margin-left: 25%;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 100vh;
}

.section_header {
    text-align: center;
    color: var(--color-accent);
    font-family: var(--font-family-nunito);
    font-size: 22px;
    font-weight: var(--font-weight800);
    margin-bottom: 72px;
}


.input_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.section_right_header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 35%;
    background-color: var(--background-password-rules-block);

    width: 100%;
    height: 80%;

    font-family: var(--font-family-baloo);
    font-weight: var(--font-weight800);
    font-size: 40px;
    box-sizing: border-box;

    text-align: center;
    color: var(--color-white);
    background-image: var(--images-dogge-background);
    background-repeat: no-repeat;
    background-position: top;
}

.section_right_content {
    padding: 40px 30px;
    font-size: 14px;
    font-family: var(--font-family-nunito);
    color: var(--color-text);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.rules_container_main_item {
    display: flex;
    gap: 5px;
}

.section_right_bottom {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;

    width: 100%;
    height: 60%;

    background-color: var(--background-password-rules-block);
}


.section_right_sign_in {
    background: transparent;
    border: none;
    font-size: 14px;
    font-family: var(--font-family-nunito);
    color: var(--color-white);
    font-weight: var(--font-weight600);
    cursor: pointer;
    position: relative;
    padding-bottom: 2px;
}

.section_right_sign_in::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-white);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.section_right_sign_in:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

