.container {
    background: var(--background-color-field);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.form_header {
    display: flex;
    justify-content: space-between;
    color: var(--color-additional);
    font-size: 12px;

    & > h2 {
        margin: 0 auto;
    }
}

.form_content {
    gap: 10px;
    color: var(--color-text);
}

.form_content_field {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--background-color-field-focused);

    font-size: 14px;

    & > span {
        width: 65px;
        min-width: 65px;
        font-weight: var(--font-weight800);
    }

    &:last-child {
        border-bottom: none;
    }
}

.penSvg {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.penSvg:hover {
    scale: 1.04;
}

.penSvg:active {
    scale: 1.2;
}