.container {
    background: var(--background-color-field);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    transition: var(--transition);
}

.container:last-child {
    margin-bottom: 0;
}

.form_header {
    display: flex;
    justify-content: space-between;
    color: var(--color-additional);
    font-size: 12px;
}

.form_header > h2 {
    margin: 0 auto;
}

.form_content {
    gap: 10px;
    color: var(--color-text);
    transition: var(--transition);
}

.form_content_field {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--background-color-field-focused);
    font-size: 14px;
    transition: var(--transition);
}

.form_content_field > span {
    width: 65px;
    min-width: 65px;
    font-weight: var(--font-weight800);
}

.form_content_field:last-child {
    border-bottom: none;
}

.penSvg {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.penSvg:hover {
    transform: scale(1.04);
}

.penSvg:active {
    transform: scale(1.2);
}

/* Добавляем стили для скроллбара */
.scrollContainer {
    max-height: 200px;
    overflow-y: auto;
    padding-right: 10px;
}

.scrollContainer::-webkit-scrollbar {
    width: 8px;
}

.scrollContainer::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

.scrollContainer::-webkit-scrollbar-thumb {
    background-color: var(--color-placeholder);
    border-radius: 10px;
    border: 2px solid transparent;
    transition: var(--transition);
}

/* Стили для заглушки */
.placeholderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: var(--background-color-field);
    border-radius: 5px;
    margin-bottom: 15px;
    transition: var(--transition);
}

.placeholderText {
    color: var(--color-text);
    font-family: var(--font-family-nunito);
    font-size: 16px;
    font-weight: var(--font-weight600);
    transition: var(--transition);
}

.placeholderText:hover {
    cursor: pointer;
    text-decoration: underline;
}