.container {
    display: flex;
    flex-direction: column;
    padding: 30px 0 25px 0;
}

.header {
    font-size: 16px;
    font-weight: var(--font-weight600);
    color: var(--color-text);
    transition: var(--transition);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.petsList {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    padding-right: 10px;
}

.petsList::-webkit-scrollbar {
    width: 8px;
}

.petsList::-webkit-scrollbar-track {
    background: transparent;
}

.petsList::-webkit-scrollbar-thumb {
    background-color: var(--color-placeholder);
    border-radius: 10px;
    border: 3px solid transparent;
    transition: var(--transition);
}

.petList_item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: var(--font-weight600);
    color: var(--color-text);
    transition: var(--transition);
}

.pet_item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    min-width: 230px;
    width: 100%;
    border-radius: 5px;
    background: var(--background-color-field);
    padding: 9px 10px;
    gap: 10px;
    transition: var(--transition);
}

.pet_item:hover {
    background: var(--background-color-field-focused);
    transition: var(--transition);
}

.checkMark {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.petList_item:hover .checkMark {
    opacity: 1;
    transform: scale(1);
}

.selected {
    font-weight: 800;
    background: var(--background-color-field-focused);
    transition: var(--transition);
}

.cross {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cross:hover {
    scale: 1.1;
}

.add_pet {
    position: relative;
    width: 100%;
    font-size: 12px;
    font-weight: var(--font-weight600);
    color: var(--color-text);
    cursor: pointer;
    transition: var(--transition);
}

.add_pet_block {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    padding: 10px;
    background: var(--background-color-field);
    border-radius: 5px;
    color: var(--color-text);

    transition: var(--transition);
}

.add_pet_block h2 {
    margin: 5px 0;
    font-size: 12px;
    font-weight: var(--font-weight800);
}

.add_pet_block:active {
    opacity: 0.85;
    scale: 1.04;
}


.add_pet_text {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 5px;
    transition: var(--transition);
}


/* Стили для пустого состояния */
.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: var(--background-color-field);
    border-radius: 5px;
    color: var(--color-text);

    transition: var(--transition);
}

.emptyState_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px
}


.emptyState h2 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: var(--font-weight800);
}

.emptyState p {
    font-size: 14px;
    color: var(--color-accent-disabled);
}

.emptyState_plusIcon {
    width: 20px;
    height: 20px;
}






