.container {
    padding: 20px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: var(--color-text);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: var(--color-accent);
}

.subtitle {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--color-accent);
}

.loading,
.error {
    font-size: 1.2em;
    margin: 10px 0;
}

.error {
    color: var(--color-text-validation);
}

.dogList,
.lazyDogList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 800px;
}

.dogItem {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--background-color-field);
    border-radius: 8px;
    box-shadow: var(--shadow-container);
    background-color: var(--background-color-field);
}

.dogImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.dogDetails {
    display: flex;
    flex-direction: column;
}

.dogDetails h3 {
    margin: 0 0 5px 0;
    color: var(--color-text);
}

.dogDetails p {
    margin: 2px 0;
    color: var(--color-text);
}

.button {
    background: var(--color-accent);
    color: var(--color-b-text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: block;
    margin: 20px 0;
    font-size: 1em;
    font-weight: bold;
}

.button:disabled {
    background: var(--color-accent7);
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    background: var(--color-accent7);
}

.intlTest {
    font-size: 1.2em;
    color: var(--color-text);
}
